@model IEnumerable<juriAplicacao.Models.JuriConcurso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Juri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Juri.IdJuri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concurso.IdConcurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJuriConcurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJuriConcurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJuriConcurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
