@model IEnumerable<juriAplicacao.Models.Requisitos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PontuacaoMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PontuacaoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAvalicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PontuacaoMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PontuacaoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAvalicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concurso.IdConcurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRequisitos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRequisitos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRequisitos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
