@model IEnumerable<juriAplicacao.Models.Concurso>

@{
    ViewData["Title"] = "Index";
}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<!-- <h4>Index</h4> -->

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Novo</a>
</p>
<table class="table table-borded compact stripe" id="nhaTabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoBase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConcurso" class="btn btn-success btn-sm">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.IdConcurso" class="btn btn-info btn-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.IdConcurso" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>

   
<script type="text/javascript">

    $(document).ready( function () {
        $('#nhaTabela').DataTable();
    }); 

</script>
